<div *ngIf="book">
  <h1>{{ book.titel }}</h1>

  <img *ngIf="book.cover"
       [src]="book.cover"
       alt="{{ book.titel }}"
       width="250">

  <p><strong>Auteur:</strong> {{ book.auteur }}</p>
  <p><strong>Genre:</strong> {{ book.genre }}</p>
  <p><strong>Taal:</strong> {{ book.taal }}</p>
  <p><strong>Aantal pagina's:</strong> {{ book.paginas }}</p>
  <p><strong>Uitgave datum:</strong> {{ book.uitgaveDatum | date }}</p>
  <p><strong>Uitgeverij:</strong> {{ book.uitgeverij }}</p>

  <p>{{ book.beschrijving }}</p>
</div>