<div>
    <img src="assets/backgroundImage.jpg" alt="Background Image" class="background-image" />
    <div class="login-container">
        <img src="assets/GOAntwerpen.png" alt="GoSmartLib Logo" class="logo" />
        <h1>GoSmartLib</h1>
        <div class="button-group">
            <!-- Replace with Smartschool login logic -->
            <button type="button" (click)="setRole('leerling')">Login als leerling</button>
            <button type="button" (click)="setRole('leerkracht')">Login als leerkracht</button>
            <button type="button" (click)="setRole('bibbeheerder')">Login als bibbeheerder</button>
        </div>
        <!-- Remove above when development is over -->
        <button (click)="smartschoolLogin()" [disabled]="isLoading">
            {{ isLoading ? 'Een ogenblik...' : 'Login met Smartschool' }}
        </button>
    </div>
</div>