<header class="section-header">
  <h2 class="section-title">Mijn huidige uitleningen</h2>
  
  @if (loans && loans.length > 0) {
    <div class="toggle-group">
      <span class="toggle-label">
        {{ loans.length }} {{ loans.length === 1 ? 'boek' : 'boeken' }}
      </span>
    </div>
  }
</header>

<section class="loans-section">
  @if (loans && loans.length > 0) {
    <div class="horizontal-scroll-wrapper">
      @for (loan of loans; track loan.id) {
        <div class="book-card-fixed clickable" (click)="goToDetail(loan.bookId)">
          
          <div class="book-cover-wrapper">
            @if (loan.bookCover) {
              <img [src]="loan.bookCover" [alt]="loan.bookTitel" class="book-img" />
            } @else {
              <div class="no-cover"><span>GEEN COVER</span></div>
            }
          </div>

          <div class="book-info">
            <h4 class="book-title">{{ loan.bookTitel }}</h4>
            
            <p class="book-date" [class.danger]="isOverdue(loan.dueDate)">
              {{ isOverdue(loan.dueDate) ? 'Te laat!' : (loan.dueDate | date: "dd/MM") }}
            </p>
            
            <div class="button-wrapper">
              <button class="details-action-btn">Details</button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty-container">
      <p class="empty-message">Je hebt momenteel geen boeken uitgeleend.</p>
    </div>
  }
</section>