<footer class="app-footer">
  <div class="app-footer-inner">
    <div class="footer-brand footer-col">
      <span class="app-logo">GO<span class="bang">!</span>SmartLib</span>
      <p class="footer-tag">De schoolbib voor jouw klas. Vind je volgende boek, hou bij wat je leest, verdien badges.</p>
    </div>
    <div class="footer-col">
      <h5>Navigatie</h5>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/books">Boekencatalogus</a></li>
        <li><a routerLink="/mijn-lijsten">Mijn Lijsten</a></li>
        <li><a routerLink="/info">Info</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Mijn account</h5>
      <ul>
        <li><a routerLink="/mijn-lijsten" fragment="verlanglijst">Verlanglijst</a></li>
        <li><a routerLink="/mijn-lijsten" fragment="historiek">Historiek</a></li>
        <li><a routerLink="/mijn-lijsten" fragment="geleend">Geleende boeken</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Hulp</h5>
      <ul>
        <li><a routerLink="/info">FAQ</a></li>
        <li><a routerLink="/map">Bibliotheek vinden</a></li>
      </ul>
    </div>
  </div>
  <div class="app-footer-bottom">
    <span>© {{ currentYear }} GO!SmartLib</span>
    <span class="links">
      <a href="#">Privacy</a>
      <a href="#">Cookies</a>
      <a href="#">Toegankelijkheid</a>
    </span>
  </div>
</footer>
